.game-flex{
    display: flex;
}

.botao{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
}

#clicker_botao{
    width: auto;
    height: 50px;
    position: absolute;
}

body{
    background-color: darkgray;
    color: white;
}
