.game-flex{
    display: flex;
}
h1{
    font-size: 80px;
}

body{
    background-image: url(img/background.jfif);
    background-size: 100%;
}
.botao{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
}
#cookie_img{
    position: absolute;
    top: 70px;
    left: 100px;
}
.tower_btn{
    width: 100px;
    height: 30px;
}
#cookie{
    padding: 30px;
    font-size: 50px;
}
.towers{
    display: flex;
    flex-direction: column;
}

body{
    background-color: darkgray;
    color: white;
}
